* {
  font-family: "Arial", sans-serif;
}

table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  border: none;
}

th {
  text-align: left;
  background-color: #333;
  color: #fff;
}

td {
  text-align: center;
}

input {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

select {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  display: block;
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: #333;
}

.table-dark tbody td {
  color: #fff;
}

.highlight {
  color: rgb(255, 84, 84);
}

.info {
  margin: 10px;
}

.info > button {
  width: 200px;
  height: 200px;
}

.info > div {
  padding: 15px;
}

.vue-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.vue-modal-inner {
  padding: 20px;
  border-radius: 5px;
  border: 3px solid #333;
  background-color: #fff;
  width: 80%;
}

.vue-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vue-modal-content > button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.drop-in-enter-active,
.drop-in-leave-active {
  transition: all 0.5s;
}

.drop-in-enter,
.drop-in-leave-to {
  transform: translateY(-50px);
  opacity: 0;
}

.main {
  height: 100vh;
  padding: 50px 200px;
}

.dark {
  background-color: rgb(35, 35, 35);
  color: white;
}

.white {
  background-color: #fff;
}
