table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  text-align: left;
  background-color: #333;
  color: #fff;
}

td {
  text-align: center;
}

#app {
  width: 80%;
  margin: 0 auto;
}

input {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

select {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: #333;
}

.table-dark tbody td {
  color: #fff;
}

.highlight {
  color: rgb(255, 84, 84);
}
